html {
    height: 100%;
    min-height: 100vh;
}

body {
    height: 100%;
    min-height: 100vh;
    background: #f7d2d2;
}

/* Optionally, ensure that no other containers have conflicting styles */
* {
    box-sizing: border-box;
}

.Text{
    color: black;
    transform: translate(39vw,48vh);
    background-color: white;
    width: 20vw;
    padding: 0.5%;
    border: 2px solid black;
    position: absolute;
}

.buttonRow { /* Assuming this is the class of your container */
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    top: 5vh;
    transform: translateY(43vh);

}

.unclickedButton{
    width: 3.5vw;
    height: 5vh;
    font-size: 7.5vh;
    color: black;
    border: none;
    background-color: #f7d2d2;
    font-family: 'Sacramento', cursive;
}
.clickedButton {
    width: 3.5vw;
    height: 5vh;
    font-size: 7.5vh;
    border: none;
    background-color: #f7d2d2;
    color: #C21E56;
    font-family: 'Sacramento', cursive;
}
