html {
    height: 100%;
    min-height: 100vh;
}

body {
    height: 100%;
    min-height: 100vh;
    background: #f7d2d2;
}

/* Optionally, ensure that no other containers have conflicting styles */
* {
    box-sizing: border-box;
}

.Text{
    color: #8ac78a;
    transform: translate(230%,440px);
    background-color: white;
    width: 350px;
    padding: 10px;
    border: 2px solid black;
}

.buttonRow { /* Assuming this is the class of your container */
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    top: 100px;
    transform: translate(0px,400px);
}

.unclickedButton{
    width: 48px;
    height: 64px;
    font-size: 70px;
    padding: 10px;
    color: black;
    border: none;
    background-color: #f7d2d2;
    font-family: 'Sacramento', cursive;
}
.clickedButton {
    width: 48px;
    height: 64px;
    font-size: 70px;
    padding: 10px;
    border: none;
    background-color: #f7d2d2;
    color: #C21E56;
    font-family: 'Sacramento', cursive;
}
