

.container{
    width: 0.52vw;
    height: 4.63vh;
    position: absolute;
    top: 52%;
    left: 40%;
}

.rose{
    position: absolute;
    right: 0;
    display: inline-block;
    animation: yidon 5s infinite;
}

.petal{
    width: 2.604166667vw;
    height: 4.62962963vh;
    background: #fe7696;
    border-radius: 0 50%;
    position: absolute;
    box-shadow: 0 0 2vw #D1123F;
    z-index: 2;
    transform-origin: bottom right;
    animation: zhankai2 10s infinite;

}

.petal:nth-child(2){
    transform-origin: right bottom;
    transform: rotate(90deg);
    background: #fe7696;
    left: -0.5vw;
    animation: zhankai1 10s infinite;
}

.petal:nth-child(3){
    width: 2.083333333vw;
    height: 3.703703704vh;
    left: 0.5vw;
    top: -2vh;
    z-index: 1;
    background: #f03a64;
    transform-origin: bottom right;
    animation: zhankai2 10s infinite;
}

.petal:nth-child(4){
    transform: rotate(90deg);
    width: 2.083333333vw;
    height: 3.703703704vh;
    left: 0;
    top: -2vh;
    z-index: 1;
    background: #f03a64;
    transform-origin: bottom right;
    animation: zhankai1 10s infinite;
}

.petal:nth-child(5){
    width: 2.604166667vw;
    height: 4.62962963vh;
    border-radius: 2vh;
    left: 1vw;
    top: -3vh;
    z-index: 0;
    background: #d1123f;

}

.leaf{
    position: absolute;
    top: 11.1111vh;
}

.stem{
    width: 10.41666667vw;
    height: 3.703703704vh;

    background: transparent;
    border: 8px solid #8ac78a;
    border-color: #77a377 transparent transparent transparent;
    border-radius: 50% 50%;
    transform: translate(-4.3vw,0vw) rotate(100deg);


}

.leafs{
    width: 2.7vw;
    height: 4vh;
    border-radius: 0px 50%;
    background: #77a377;
    position: absolute;
    top: 0;
    left: 5vw;
    z-index: 49;
    transform: translate(-6.5vw,1vh);
}

.leafs:nth-child(2){
    width: 2.7vw;
    height: 4vh;
    top: 3vh;
    left: 5vw;
    transform: translate(-3vw,-3vh) rotate(120deg);

}

@keyframes yidon{
    50%{
        transform: translateY(35%);
    }
    100%{
        transform: translateY(40%);
    }
}

@keyframes zhankai1{
    50%{
        transform: rotate(110deg);
    }
    100%{
        transform: rotate(90deg);
    }
}

@keyframes zhankai2{
    50%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(0deg);
    }
}